.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-direction: column;
  /* width: 100%; */
  padding: 0px 400px;
}
form{
  margin-bottom: 90px;
}
.Edit-todo{
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* margin-top: 90px;
  padding-left: 15px; */
}
.Edit-container{
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin-top: 110px;
  padding-left: 15px;
}